In [116]:
import pandas as pd

Data from: https://www.imf.org/en/Publications/WEO/weo-database/2023/October

In [117]:
europe_gdp = pd.read_excel("euro_gdp_data.xlsx")

vars = ['Country', 2023]

nominal_gdp = europe_gdp[europe_gdp['Units'] == "U.S. dollars"][vars]

In [118]:
nominal_gdp.reset_index(inplace=True)

In [119]:
# Estimates were taken in October 2023, so we will use the exchange rate from that time
# Source, google finance
eur_per_usd = 0.95

In [120]:
nominal_gdp['Nominal 2023 GDP (EUR Billions)'] = nominal_gdp[2023]*eur_per_usd

In [121]:
nominal_gdp_eur = nominal_gdp[['Country', 'Nominal 2023 GDP (EUR Billions)']]

In [122]:
nominal_gdp_eur.tail()

           Country  Nominal 2023 GDP (EUR Billions)
36           Spain                       1502.95130
37          Sweden                        567.25450
38     Switzerland                        860.39980
39         Ukraine                        164.74235
40  United Kingdom                       3165.45605

In [123]:
# Value in billions of british pounds
jersey_gdp_eur = 5.761*1.15

# Value in Billion USD
liechtenstein_gdp_eur = 7.8267*0.95

In [124]:
liechtenstein_gdp_eur

7.435364999999999

In [125]:
# Add the gdp for Jersey and Liechtenstein
jersey = pd.DataFrame({"Country": 'Jersey', "Nominal 2023 GDP (EUR Billions)": jersey_gdp_eur}, index=[0])
liechtenstein = pd.DataFrame({"Country": 'Liechtenstein', "Nominal 2023 GDP (EUR Billions)": liechtenstein_gdp_eur}, index=[0])

nominal_gdp_eur = pd.concat([nominal_gdp_eur, jersey, liechtenstein], ignore_index=True)

In [126]:
nominal_gdp_eur.sort_values("Country", ignore_index=True, inplace=True)

In [127]:
nominal_gdp_eur

                   Country  Nominal 2023 GDP (EUR Billions)
0                  Albania                        21.880400
1                  Austria                       499.872900
2                  Belarus                        65.420800
3                  Belgium                       596.135450
4   Bosnia and Herzegovina                        25.597750
5                 Bulgaria                        97.944050
6                  Croatia                        76.175750
7           Czech Republic                       318.480850
8                  Denmark                       399.760000
9                  Estonia                        39.709050
10                 Finland                       290.404550
11                  France                      2896.565200
12                 Germany                      4208.346100
13                  Greece                       230.265750
14                 Hungary                       193.637550
15                 Iceland                        29.041500
16                 Ireland                       560.090550
17                   Italy                      2076.777900
18                  Jersey                         6.625150
19                  Kosovo                         9.945550
20                  Latvia                        44.334600
21           Liechtenstein                         7.435365
22               Lithuania                        75.455650
23              Luxembourg                        84.640250
24                   Malta                        19.295450
25                 Moldova                        15.200000
26              Montenegro                         6.705100
27             Netherlands                      1038.110600
28         North Macedonia                        15.010950
29                  Norway                       519.429600
30                  Poland                       800.063400
31                Portugal                       262.610400
32                 Romania                       332.893300
33                  Russia                      1769.346500
34              San Marino                         1.898100
35                  Serbia                        71.264250
36         Slovak Republic                       126.391800
37                Slovenia                        64.974300
38                   Spain                      1502.951300
39                  Sweden                       567.254500
40             Switzerland                       860.399800
41                 Ukraine                       164.742350
42          United Kingdom                      3165.456050

In [128]:
nominal_gdp_eur.to_csv("2023_Nominal_GDP_By_Country.csv", index=False)